<!-- Rekisteröitymis sivu -->
<div class="register-container">

    <!-- Rekisteröitymis formi -->
    <form class="registerForm" [formGroup]="registerForm" (ngSubmit)="register()">
        <h2>Rekisteröinti</h2>

        <!-- Kysytään käyttäjänimi -->
        <mat-form-field class="input-field">
            <mat-label>Käyttäjänimi: </mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        
        <!-- Kysytään salasana -->
        <mat-form-field class="input-field">
            <mat-label>Salasana: </mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        
        <!-- Kysytään puhelinnumero -->
        <mat-form-field class="input-field">
            <mat-label>Puhelinnumero: </mat-label>
            <input matInput type="number" placeholder="Puh." formControlName="phone">
        </mat-form-field>
        
        <!-- Kysytään etunimi -->
        <mat-form-field class="input-field">
            <mat-label>Etunimi: </mat-label>
            <input matInput placeholder="" formControlName="firstname">
        </mat-form-field>
        
        <!-- Kysytään sukunimi -->
        <mat-form-field class="input-field">
            <mat-label>Sukunimi: </mat-label>
            <input matInput placeholder="" formControlName="lastname">
        </mat-form-field>

        <!-- Formin tietojen lähetys -->
        <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Lähetä</button>
    </form>
    <button mat-raised-button color="primary" (click)="navigate()">Peruuta</button>
</div>
