<!-- sivun container -->
<mat-drawer-container class="body-container">

  <!-- sivu valikko -->
  <mat-drawer closed #sidenav class="sidenav">
      <p>Sivut:</p>
      <a href="/login">Login</a>
      <br>
      <a href="/logout">Logout</a>
      <br>
      <a href="/varaa">Varaus sivu</a>
      <br>
      <a href="/kalenteri">Kalenteri</a>
  </mat-drawer>
  
  <!-- valikon avaus nappi -->
  <button (click)="sidenav.toggle()" class="sidebar-button" mat-mini-fab color="primary">
      <mat-icon>menu</mat-icon>
  </button>
  
  <div class="login-container">
    <mat-card class="login-card">
      <div class="company-name">Yrityksen nimi</div>
      <mat-card-title class="login-title">Kirjaudu sisään</mat-card-title>
      
      <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile rowspan="1">
          <mat-form-field>
            <mat-label>Puhelinnumero</mat-label>
            <input matInput type="text" placeholder="Syötä puhelinnumero">
          </mat-form-field>
        </mat-grid-tile>
  
        <mat-grid-tile rowspan="1">
          <button mat-raised-button color="primary" (click)="login()">Kirjaudu sisään</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
    <button mat-raised-button color="primary" (click)="logout()">Kirjaudu ulos</button>
  </div>

</mat-drawer-container>

