<div class="login-container">
  <mat-card class="login-card">
    <div class="company-name">Yrityksen nimi</div>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <mat-form-field>
        <mat-label>Puhelinnumero</mat-label>
        <input matInput type="text" placeholder="Syötä puhelinnumero" name="phoneNumber" ngModel required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Kirjaudu sisään</button>
    </form>
  </mat-card>
  <button mat-raised-button color="primary" (click)="navigate()">Rekisteröidy</button>
</div>

