.body-container {
  width: 100%;
  height: 100%;
}

.input-field {
  margin-bottom: 15px;
}

.itemForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f4f4;
  width: 400px;
}

.addItem-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f4f4;
}

.custom-button {
  margin-top: 15px;
  width: 15%;
}