<div class="calendar">
    <div class="head">
        <div class="dates">
            <div *ngFor="let day of getWeekDays()" class="date">
                {{ day | date: 'd' }}
    
                <div *ngIf="bookings[day.toISOString()]">Varattu</div>
            </div>
        </div>
        <div class="header">
            <button mat-raised-button color="primary" (click)="previousWeek()">viikko {{ getWeekNumber(selectedDate)-1 }}</button>
            <h2>{{ selectedDate | date: 'MMMM d, y' }}</h2>
            <button mat-raised-button color="primary" (click)="nextWeek()">viikko {{ getWeekNumber(selectedDate)+1 }}</button>
        </div>
        <div class="days">
            <div *ngFor="let day of daysOfWeek" class="day">{{ day }}</div>
        </div>
    </div>
    <!-- varauksen tiedot kootaan tähän diviin-->
    <div class="alusta">
        <form class="example-form">
            <!-- puhelinnumero input kenttä -->
            <mat-form-field class="numero">
            <mat-label>Varaajan puhelinnumero</mat-label>
            <input matInput placeholder="Puh.">
            </mat-form-field>
            <br>

            <!-- varattavan laitteen valinta dropmenu -->
            <h4 class="otsikko">Valitse laite</h4>
            <mat-form-field>
                <mat-label>Laitteet</mat-label>
                <mat-select>
                    <!--
                    @for (item of resItems; track item) {
                        <mat-option [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    }
                    -->
                </mat-select>
            </mat-form-field>
            <br><br>

            <!-- valittu päivä tulee tähän korttiin näkyville. voi tulla myös lisätietoja -->
            <h4 class="otsikko">Valittu päivä:</h4>
            <mat-card class="kortti">
                <mat-card-content>valittu päivä tähän :D</mat-card-content>
            </mat-card>
            <br><br>

            <!-- tämä nappi tallentaa varauksen tiedot tietokantaan -->
            <button mat-raised-button color="primary">Varaa</button>
            <br><br>

            <!-- Nappi uloskirjautumiseen -->
            <button mat-raised-button color="primary" (click)="logout()">Kirjaudu ulos</button>
        </form>
    </div>
    <div class="table-container">
        <div class="time-column">
            <div class="hour" *ngFor="let hour of hours">
                <div class="hour-box">{{ hour }} - {{ hour + 1 }}</div>
            </div>
        </div>
    </div>
</div>