<!-- Varaus komponentti, jossa otetaan talteen varaajan tiedot, varattava työväline ja varauksen alku- sekä loppuaika -->

<div class="alusta">

  <form class="example-form" [formGroup]="varausForm" (ngSubmit)="varaa()" #varausFrom="ngForm">

    <!-- Puhelinnumero/Pin input kenttä -->
    <mat-form-field class="numero">
      <mat-label>Varaajan puhelinnumero</mat-label>
      <input matInput placeholder="Puh." formControlName="puhelinnumero" #numeroInput>
    </mat-form-field>
    <br>

    <!-- Varattavan laitteen valinta dropmenu -->
    <h4 class="otsikko">Valitse laite</h4>
    <mat-form-field>
      <mat-label>Laitteet</mat-label>
      <mat-select formControlName="valittuLaite">
        <mat-option *ngFor="let item of resItems" [value]="item.value">
          {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br><br>

    <!-- Valittut päivät tulevat tähän korttiin näkyville. Käyttäjä valitsee DatePickerilla alku- ja loppupäivän -->
    <mat-form-field>
      <mat-label>Valitse alkupäivä</mat-label>
      <input matInput [matDatepicker]="startDatePicker" formControlName="alkupaiva" placeholder="Valitse alkupäivä">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Valitse loppupäivä</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="loppupaiva" placeholder="Valitse loppupäivä">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>

    <!-- Varauksen tallennus tietokantaan -->
    <button mat-raised-button color="primary" type="submit" [disabled]="!varausForm.valid">Varaa</button>
    <br><br>

    <!-- Nappi uloskirjautumiseen -->
    <button mat-raised-button color="primary" (click)="logout()">Kirjaudu ulos</button>



  </form>


  <!-- Varausten haku kalenteriin -->
  <div class="varaus">
    <button mat-raised-button color="primary" (click)="haeVaraukset()">Hae varaukset</button>
    <h2>Varaukset</h2>
    <div *ngFor="let varaus of varaukset">
      <p>{{varaus.owner}} varasi {{varaus.target}} alkaen {{varaus.startTime}} ja päättyen
        {{varaus.endTime}}</p>
    </div>
  </div>

</div>