.kalenteri {
    width: 60%;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.jsonData {
    width: 35%;
    background-color: #d4d2d2;
    padding: 30px;
    position: relative;
    float: right;
    right: 30px;
}

.errorData {
    width: 35%;
    background-color: #d4d2d2;
    padding: 30px;
    position: relative;
    float: right;
    right: 30px;
}